.box {
	background-color: black;
	
}

.umbc {
	color : yellow;
	font-size: 60px;
}

.other{
	padding-top: 10px;
	color: yellow; 
	font-size: 48px;
	float: right;
	text-align: right;
	
}

.tabs{
	background-color: #d9d9d9;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	font-size:24px;
}

.picture{
	margin-left: 20px;
	float:left;
	width: 40%;
	padding-bottom: 10%;
	padding-top: 10%;
	background-color: #ff6666;
	text-align: center;
	
}

.side{
	float:left;
	width:55%;
	padding-top:25%;
	padding-bottom:17%;
	background-color: #d9d9d9;
	text-align: center;
}

.bottombox{
	background-color: black;
	color: yellow;
	float:left;
	width:100%;

}

.content{
	float:right;
	text-align: right;

}